<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', 'styles.css') }}">

    <title>Memes</title>
</head>

<body>
    
    <h2> 
        {{ length }} NSFW Memes
    </h2>

    <a href="{{ url_for('reload') }}">
        <h5>
            Reload
        </h5>
    </a>

    <div class="container">
        
        {% for linkname in allmemes%}
        <img src="{{ linkname }}">
        {% endfor %}
    
    </div>

</body>
</html>