<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Media</title>

</head>

<body id="start">

    <header class="site-header">
        <div class="site-identity">
            <h1>
                <a href="#">
                    {{ length }} Images
                </a>
            </h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="#">Top</a></li>
                <li><a href="#bottom">Bottom</a></li>
                <li><a onclick="reloadWebpage()">Reload</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% for linkname in allimages %}
            <img src="{{ linkname }}">
        {% endfor %}
    </div>

    <a onclick="reloadWebpage()">
        <h5>Reload</h5>
    </a>

    <a href="#">
        <h5>go back to Top</h5>
    </a>

    <footer id="bottom">
        <div class="top_header">
            <section>
                <span><i class="fa fa-map-marker"></i></span>
                <span>{{ wblocation }}</span>
            </section>
            <section>
                <span><i class="fa fa-phone"></i></span>
                <span>{{ wbcontact }}</span>
            </section>
            <section>
                <span><i class="fa fa-envelope"></i></span>
                <span>{{ wbemail }}</span>
            </section>
        </div>
        <span class="border-shape"></span>
        <div class="bottom_content">
            <section>
                {% for fblink in facebook_links %}
                    <a href="{{ fblink }}" target="_blank"><i class="fa fa-facebook"></i></a>
                {% endfor %}

                {% for iglink in instagram_links %}
                    <a href="{{ iglink }}" target="_blank"><i class="fa fa-instagram"></i></a>
                {% endfor %}
                
                {% for twlink in twitter_links %}
                    <a href="https://twitter.com/hirusha_adikari/" target="_blank"><i class="fa fa-twitter"></i></a>
                {% endfor %}
            </section>
            <section>
                {% for key, value in bottom_links.items() %}
                <a href="{{ value }}">{{ key }}</a>
                {% endfor %}
            </section>
        </div>
        <div class="copyright">
            {{ wbcopyright }}
        </div>
    </footer>

    <script>

        function reloadWebpage() {
            secret = prompt("Please enter the password to reload the database", "Password");
            console.log(secret)
            // the password is revealed here lol
            if (secret == "{{ SecretKey }}") {
                window.location.href = window.location.href + "r";
                console.log(window.location.href)
            }
            else {
                alert("Invalid Password")
            }
        }

    </script>

    
</body>
</html>